<h1>Main#welcome</h1>
<p>hello from welcome<p>
<p>Find me in app/views/main/def.html.erb</p>

eiei<br/>
<%= (1..6).to_a %>
<br/>

<br/>
<% for i in 1..10 do%>
	<%= i*10%>
<%end%>
<br/>
<br/>
The current <b>time</b> is <%= Date.today%>
<br/>
<br/>
The current <b>time</b> is <%= Time.zone.now %>
<br/>
hello <%= params[:a]%>